{
    "presets": ["next/babel"],
    "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@core": "./modules/core",
                    "@home": "./modules/home",
                    "@user": "./modules/user"
                }
            }
        ]
    ]
}
